<!DOCTYPE html>
<html data-ng-app="gamefit">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Title -->
    <title>GameFit</title>
    <!-- Bootstrap Core CSS-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <!-- Flat-UI -->
    <link rel="stylesheet" href="lib/flat-ui/css/flat-ui.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/fonts/opensans_light/stylesheet.css" media="all" type="text/css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/demo.css">
</head>
<body>
	<!-- Navbar -->
    <nav class="navbar navbar-default navbar-embossed navbar-fixed-top" data-role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" data-aria-expanded="false" data-aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">-</span>
                    <span class="icon-bar">-</span>
                    <span class="icon-bar">-</span>
                </button>
                <a class="navbar-brand" href="index.html">GameFit</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="about.html">About</a></li>
                    <li><a href="documentation.html">Documentation</a></li>
                    <li class="active"><a href="#">Contact</a></li>
                </ul>
                <a href="demo.html" class="btn btn-info navbar-btn navbar-right btn-embossed" role="button">Login</a>
            </div>
        </div>
    </nav> <!-- /.navbar -->

	<section class="main container">
		<div data-ng-controller="gamefitController">
			<div>
				<select data-ng-model="currUser" data-ng-options="user.last for user in users" class="form-control select select-info select-block mbl">
					<option value="" data-ng-hide="currUser">Select User</option>
				</select>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2 class="featurette-heading">Raw Data<br><p class="lead text-muted">From your past runs</p></h2>
					<table class="table">
						<tbody>
							<tr>
								<td>Name</td>
								<td>{{currUser.first}} {{currUser.last}}</td>
							</tr>
							<tr>
								<td>Age</td>
								<td>{{currUser.Age}}</td>
							</tr>
							<tr>
								<td>Weight</td>
								<td>{{currUser.Weight}}</td>
							</tr>
							<tr>
								<td>Height</td>
								<td>{{currUser.Height}}</td>
							</tr>
							</tr>
							<tr data-ng-repeat="activity in currUser.activity">
								<td>{{activity.date}}</td>
								<td>
									<p>{{activity.runDistance}} mi | {{activity.runTime}} min</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-md-6">
					<h2 class="featurette-heading">Summary<br><p class="lead text-muted">Generated based on your stats</p></h2>
					<p class="score">FitScore: {{fitScore}}%</p>
					<p class="score">FitPoints: {{fitPoints}}/400</p>
					<canvas id="myCanvas" width="300" height="300"></canvas>
				</div>
			</div>
		</div> <!-- /gamefitController -->
	</section>

	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/flat-ui/js/flat-ui.js"></script>
	<script src="js/demo.js"></script>
</body>
</html>