<link rel="stylesheet" href="css/about.css">
<div>
    <header class="jumbotron">
        <div class="container">
            <h1>Features</h1>
        </div>
    </header>

	<section class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Device Integration</h2>
                <p class="lead">We'll handle the devices, so you don't have to change anything in your code to keep current.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="images/devices2.jpg" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="images/runner.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Personalized Data</h2>
                <p class="lead">Our scores are determined both by averages and individual effort so no one is left behind.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Motivate and Reward Gamers</h2>
                <p class="lead">Whether they're Olympics athletes or just getting off the couch, help promote fitness</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="images/athlete.jpg" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="images/easy2.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Quick and Easy Integration</h2>
                <p class="lead">We've created a secure and simple interface, so you can focus on creating the greatest possible gaming experience</p>
            </div>
        </div>
    </section>
</div>